$black222: #222;
$black444: #444;

// https://material.io/guidelines/style/color.html#color-color-palette

$grey500: #9E9E9E;
$grey50: #FAFAFA;

$blue100: #BBDEFB;
$blue600: #1E88E5;
$blue800: #1565C0;

$green200: #A5D6A7;

$orange200: #FFCC80;

$red400: #EF5350;
