.navbar {
  border-bottom: 1px solid black;
  padding: 24px 20px;

  .navbar__wrapper {
    max-width: 900px;
    margin: 0 auto;
  }
}

.logo {
  text-decoration: none;

  .logo__main {
    margin: 0;
    color: $black222;
    font-size: 1.8em;
  }

  .logo__caption {
    margin: 0;
    color: $grey500;
  }
}
