<section class="about" id="about">
  <div class="about__wrapper">
    <h1 class="about__header">
      About me
    </h1>

    <div class="about_picture-wrapper">
      <img class="about__profile-picture" src="/images/me.jpg" alt="Profile picture">
    </div>

    <div class="about__description">
      <p class="about__description-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure a aspernatur velit quos sit doloremque ipsam praesentium ducimus veniam iusto quo ea blanditiis quae expedita, et delectus quod porro voluptates modi, vero dolor!
      </p>
      <p class="about__description-paragraph">
        Ea eius, veniam soluta numquam voluptates fuga eveniet voluptas et ducimus nobis, ipsam nesciunt nisi accusamus praesentium vitae. Ipsum consequuntur voluptatem voluptatum.
      </p>
      <p class="about__description-paragraph">
        Consectetur adipisicing elit. Maiores praesentium fugit tempore ut delectus vero, molestias dolores aperiam harum suscipit assumenda, aut nam possimus omnis quisquam cupiditate fugiat natus ab minima rerum unde magnam, doloremque blanditiis. Molestias sequi, voluptas libero nihil minima recusandae magnam iste.
      </p>
    </div>
  </div>
</section>
