<section class="about" id="about">
  <div class="about__wrapper">
    <h1 class="about__header">
      About me
    </h1>

    <div class="about_picture-wrapper">
      <img class="about__profile-picture" src="/images/me.jpg" alt="Profile picture">
    </div>

    <div class="about__description">
      <p class="about__description-paragraph">
        I'm a full-stack web developer with interest in clean and minimal UI & UX, currently based in London, UK. I love solving complex problems and I'm enjoying building fast and maintainable applications using modern tools.
      </p>
      <p class="about__description-paragraph">
        I worked for startups and well-established companies from Poland, Germany, and the UK.
      </p>
      <p class="about__description-paragraph">
        I have experience with frontend and backend languages and technologies. I worked with JavaScript (React, Backbone, D3, Node), HTML, CSS, Ruby (ROR, Sinatra), and databases (PostgreSQL, MySQL, MongoDB).
      </p>
      <p class="about__description-paragraph">
        Besides programming I love to travel. Also, I'm a huge enthusiast of outdoor activities, like cycling, trekking, and sailing.
      </p>
      <p class="about__description-paragraph">
        <b>
          If you are looking for a passionate developer for your project, get in touch.
        </b>
      </p>
    </div>
  </div>
</section>
