<section class="contact" id="contact">
  <div class="contact__wrapper">
    <h1 class="contact__header">
      Contact me
    </h1>

    <p class="contact__text">
      Wheater you want to start work on a project or discuss an idea.
    </p>

    <a class="contact__email" href="mailto:kacper.golinski@gmail.com">
      kacper.golinski
      <span class="contact__email-honypot">honypot</span>
      @gmail.com
    </a>
  </div>
</div>
