<section class="contact" id="contact">
  <div class="contact__wrapper">
    <h1 class="contact__header">
      Contact me
    </h1>

    <p class="contact__text">
      Wheater you want to start work on a project or discuss an idea.
    </p>

    <a class="contact__email" href="mailto:kacper.golinski@gmail.com" title="kacper.golinski@gmail.com">
      kacper.golinski<span class="contact__email-honypot">honypot</span>@gmail.com
    </a>

    <div class="contact__public-profiles">
      <p class="public-profile">
        <a href="https://twitter.com/caspg_" target="_blank" title="twitter.com/caspg_">
          twitter.com/caspg_
        </a>
      </p>
      <p class="public-profile">
        <a href="https://github.com/caspg" target="_blank" title="github.com/caspg">
          github.com/caspg
        </a>
      </p>
    </div>
  </div>
</div>
