<section class="projects">
  <div class="projects__wrapper">

    <h1 class="projects__header">Recent Projects</h1>

    <div class="projects-grid">
      <div class="col col-60">
        <div class="project__item">
          <img src="/images/projects/streetbees.jpg" alt="Thumb of streetbees chat app">
        </div>
      </div>

      <div class="col col-40">
        <div class="project__item">
          <img class="show-mobile" src="/images/projects/spaceExp-mobile.jpg" alt="Thumb of https://spaceexperience.club">
          <img class="hide-mobile" src="/images/projects/spaceExp.jpg" alt="Thumb of https://spaceexperience.club">
        </div>
      </div>

      <div class="col col-100">
        <div class="project__item">
          <img src="/images/projects/datamaps.jpg" alt="Thumb of https://datamaps.co">
        </div>
      </div>
    </div>

  </div>
</section>
