<section class="projects" id="projects">
  <div class="projects__wrapper">

    <h1 class="projects__header">Recent Projects</h1>

    <div class="projects-grid">
      <div class="col col-60">
        <div class="projects__item">
          <a href="https://tasks.streetbees.com/" target="_blank" title="tasks.streetbees.com">
            <div class="projects__item-overlay">
              <h2 class="projects__item-title">Streetbees chat app</h2>
            </div>

            <img src="/images/projects/streetbees.jpg" alt="Thumb of streetbees chat app">
          </a>
        </div>
      </div>

      <div class="col col-40">
        <div class="projects__item">
          <a href="https://spaceexperience.club/" target="_blank" title="spaceexperience.club">
            <div class="projects__item-overlay">
              <h2 class="projects__item-title">SpaceExperience.club</h2>
            </div>

            <img class="show-mobile" src="/images/projects/spaceExp-mobile.jpg" alt="Thumb of https://spaceexperience.club">
            <img class="hide-mobile" src="/images/projects/spaceExp.jpg" alt="Thumb of https://spaceexperience.club">
          </a>
        </div>
      </div>

      <div class="col col-100">
        <div class="projects__item">
          <a href="https://datamaps.co" target="_blank" title="datamaps.co">
            <div class="projects__item-overlay">
              <h2 class="projects__item-title">Datamaps.co</h2>
            </div>

            <img src="/images/projects/datamaps.jpg" alt="Thumb of https://datamaps.co">
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
