<section class="projects">
  <div class="projects__wrapper">

    <h1 class="projects__header">Recent Projects</h1>

    <div class="projects-grid">
      <div class="col col-60">
        <div class="project project--streetbees"></div>
      </div>

      <div class="col col-40">
        <div class="project project--spaceexp"></div>
      </div>

      <div class="col col-100">
        <div class="project project--datamapsco"></div>
      </div>
    </div>

  </div>
</section>
