<section class="tech-details">
  <div class="tech-details__wrapper">

    <div class="tech-details__header">
      <h1 class="tech-details__title">
        Tech stack
      </h1>
      <p class="tech-details__text">
        I'm specializing in the following technologies, which help me build <b>fast</b> and <b>modern</b> web applications.
        I belive each one of them can provide bigest benefits to my clients.
      </p>
    </div>

    <div class="tech-item">
      <div class="tech-item-logo tech-item-logo--react">
        <%= inline_svg 'react-logo' %>
      </div>

      <p class="tech-item__label">
        ReactJS
      </p>
    </div>

    <div class="tech-item">
      <div class="tech-item-logo tech-item-logo--node">
        <%= inline_svg 'node-logo' %>
      </div>

      <p class="tech-item__label">
        NodeJS
      </p>
    </div>

    <div class="tech-item">
      <div class="tech-item-logo tech-item-logo--d3">
        <%= inline_svg 'd3-logo' %>
      </div>

      <p class="tech-item__label">
        D3JS
      </p>
    </div>

    <div class="tech-item">
      <div class="tech-item-logo tech-item-logo--rails">
        <%= inline_svg 'rails-logo' %>
      </div>

      <p class="tech-item__label">
        Ruby on Rails
      </p>
    </div>

  </div>
</section>
