<section class="tech-details">
  <div class="tech-details__wrapper">

    <div class="tech-details__header">
      <h1 class="tech-details__title">
        Tech. Right tools for the job.
      </h1>
      <p class="tech-details__text">
        I'm <b>specializing</b> in the following technologies. I belive each one of them can provide bigest benefits to my clients.
        [[[smth about FAST modern web applications]]]
      </p>
    </div>

    <div class="tech-item">
      <div class="tech-item-logo tech-item-logo--react">
        <%= inline_svg 'react-logo' %>
      </div>

      <p class="tech-item__label">
        ReactJS
      </p>
    </div>

    <div class="tech-item">
      <div class="tech-item-logo tech-item-logo--node">
        <%= inline_svg 'node-logo' %>
      </div>

      <p class="tech-item__label">
        NodeJS
      </p>
    </div>

    <div class="tech-item">
      <div class="tech-item-logo tech-item-logo--d3">
        <%= inline_svg 'd3-logo' %>
      </div>

      <p class="tech-item__label">
        D3JS
      </p>
    </div>

    <div class="tech-item">
      <div class="tech-item-logo tech-item-logo--rails">
        <%= inline_svg 'rails-logo' %>
      </div>

      <p class="tech-item__label">
        Ruby on Rails
      </p>
    </div>

  </div>
</section>
