<div class="navbar">
  <div class="navbar__wrapper">

    <nav class="main_nav">
      <ul class="main_nav__list">
        <li class="main_nav__item">
          <a href="#projects" class="main_nav__link">
            projects
          </a>
        </li>
        <li class="main_nav__item">
          <a href="#about" class="main_nav__link">
            about
          </a>
        </li>
        <li class="main_nav__item">
          <a href="#contact" class="main_nav__link">
            contact
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>
