<div class="navbar">
  <div class="navbar__wrapper">

    <span>
      <a href="/" class="logo">
        <h1 class="logo__main">
          kacper golinski
        </h1>
        <h4 class="logo__caption">
          Fullstack web development
        </h4>
      </a>
    </span>

    <nav class="main_nav">
      <ul class="main_nav__list">
        <li class="main_nav__item">
          <a href="#projects" class="main_nav__link">
            projects
          </a>
        </li>
        <li class="main_nav__item">
          <a href="#about" class="main_nav__link">
            about
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>
