<nav class="navbar">
  <div class="navbar__wrapper">

    <a href="/" class="logo">
      <h1 class="logo__main">
        KACPER GOLINSKI
      </h1>
      <h4 class="logo__caption">
        Fullstack web development
      </h4>
    </a>

  </div>
</nav>
