.about {
  padding: 50px 30px 100px;
  border-bottom: 1px solid #ddd;
}

.about__wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.about__header {
  text-align: center;
}

.about_picture-wrapper {
  text-align: center;
  margin-top: 80px;
}

.about__profile-picture {
  width: 200px;
  height: auto;
  border-radius: 150px;
}

.about__description {
  max-width: 520px;
  margin: 0 auto;
  margin-top: 80px;
}

.about__description-paragraph {
  margin-bottom: 30px;
  font-size: 1.2em;
  color: $black444;
}
