.contact {
  padding: 100px 30px;
  padding-bottom: 150px;
  text-align: center;
  background-color: white;
}

.contact__wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.contact__text {
  margin-bottom: 80px;
  font-size: 1.2em;
  color: $black444;
}

.contact__email {
  color: $blue600;
  font-size: 1.5em;
  text-decoration: none;

  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: $blue800;
  }

  @media screen and(min-width: $xsmall_breakpoint) {
    font-size: 2em;
  }

  @media screen and(min-width: $small_breakpoint) {
    font-size: 3em;
  }
}

.contact__email-honypot {
  display: none;
}

.contact__public-profiles {
  margin-top: 50px;
}

.public-profile {
  font-size: 1.2em;
  margin-bottom: 15px;

  a {
    color: #444;
  }

  a:hover {
    color: #222;
  }
}
