.jumbotron {
  position: relative;
  text-align: left;
  padding: 0 30px;
  padding-top: 180px;
  padding-bottom: 100px;

  color: #222;
}

.jumbotron__wrapper {
  max-width: 900px;
  margin: 0 auto;
  font-family: "Georgia", serif;
}

.jumbotron__text {
  margin: 0;
  margin-bottom: 30px;
  font-weight: lighter;
  color: #222;
}

.jumbotron__text-name {
  color: $blue800;
}

.jumbotron__slogan {
  margin: 0;
  font-size: 4.5em;
  font-weight: normal;
  letter-spacing: -2px;
}

.jumbotron__button {
  margin-top: 70px;
  background-color: white;
  padding: 0 35px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 6px 15px 0 rgba(0, 0, 0, 0.5);
  border: none;
  background-color: $blue600;

  -webkit-transition: background-color 0.07s linear;
  -moz-transition: background-color 0.07s linear;
  -o-transition: background-color 0.07s linear;
  -ms-transition: background-color 0.07s linear;
  transition: background-color 0.07s linear;

  &:hover {
    background-color: $blue800;
  }
}

.jumbotron__background-gradient {
  background: -webkit-linear-gradient(45deg, #e6e6e6, #fafafa);
  background-image: linear-gradient(45deg, #e6e6e6, #fafafa);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  transform: skewY(-12deg);

  transform-origin: 0;

  @media screen and(max-width: $small_breakpoint) {
    transform-origin: 0;
  }
}
