.projects {
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 150px;
  margin-bottom: 150px;
}

.projects__wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.projects__header {
  margin-bottom: 70px;
}

.projects__item {
  position: relative;
  width: 100%;
  background-color: #ddd;
  overflow: hidden;
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.5);

  img {
    width: 100%;
    margin-bottom: -5px;
    z-index: 1;

    -webkit-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
  }
}

.projects__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 2px;
  z-index: 2;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  &:hover ~ img {
    transform: scale(1.1);
  }
}

.projects__item-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: $grey50;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;

  margin-left: -15px;
  margin-right: -15px;
}

.col {
  box-sizing: border-box;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and(max-width: $small_breakpoint) {
    flex: 0 0 100%;
  }
}

.col-60 {
  @media screen and(min-width: $small_breakpoint) {
    flex: 0 0 60%;
  }
}

.col-40 {
  @media screen and(min-width: $small_breakpoint) {
    flex: 0 0 40%;
  }
}

.col-100 {
  @media screen and(min-width: $small_breakpoint) {
    flex: 0 0 100%;
  }
}
