.projects {
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 150px;
  margin-bottom: 150px;
}

.projects__wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.projects__header {
  margin-bottom: 70px;
}

.project__item {
  width: 100%;
  border-radius: 5px;
  background-color: #ddd;

  img {
    width: 100%;
    margin-bottom: -5px;
    border-radius: 5px;
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.5);
  }
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;

  margin-left: -15px;
  margin-right: -15px;
}

.col {
  box-sizing: border-box;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and(max-width: $small_breakpoint) {
    flex: 0 0 100%;
  }
}

.col-60 {
  @media screen and(min-width: $small_breakpoint) {
    flex: 0 0 60%;
  }
}

.col-40 {
  @media screen and(min-width: $small_breakpoint) {
    flex: 0 0 40%;
  }
}

.col-100 {
  @media screen and(min-width: $small_breakpoint) {
    flex: 0 0 100%;
  }
}
