.tech-details {
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
  padding-top: 100px;
  padding-bottom: 150px;
}

.tech-details__wrapper {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.tech-details__header {
  text-align: left;
}

.tech-details__title {
}

.tech-details__text {
  margin-bottom: 100px;
  font-size: 1.2em;
  color: $black444;
}

.tech-item {
  display: inline-block;
  margin-bottom: 70px;
}

.tech-item-logo {
  margin: 0 50px;

  svg {
    height: 100px;
    width: 120px;
  }
}

.tech-item-logo--react {
  svg {
    path {
      stroke: #444;
    }

    circle {
      fill: #444;
    }
  }
}

.tech-item-logo--node {
  svg {
    * {
      fill: #444;
    }
  }
}

.tech-item-logo--d3 {
  svg {
    height: 80px;
    padding: 10px 0;

    * {
      fill: #444;
    }
  }
}

.tech-item-logo--rails {
  svg {
    height: 80px;
    padding: 10px 0;

    * {
      fill: #444;
    }
  }
}

.tech-item__label {
  font-size: 1.2em
}
